/* Add a black background color to the top navigation */
.navbar {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    /*min-height: 70px;*/
    /*    overflow: hidden;*/
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #bb0000;
    color: black;
    font-weight: bold;
    transition: all 0.5s ease;
}

/* Add an active class to highlight the current page */
.navbar a.active {
    background-color: #bb0000;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

body {
    background-color: lightgray;
}

.hello {
    background-image: url(photo_gallery/BDE85E1A-9E80-4126-BDE6-C5613A2E0F75_1_201_a.jpeg);
    background-attachment: fixed;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-size: cover;
    /*background-position: right;*/
    padding-top: 10px;
    padding-bottom: 40em;
    color: #bb0000;
    border-width: medium;
    border-color: #bb0000;
    /*opacity: 1;
    /*Below added to blur background
    filter: blur(8px);
  -webkit-filter: blur(8px);*/
}



.who {
    font-family: Georgia, serif;
    font-size: 9em;
    text-align: center;
    text-shadow: 2px 2px 1.5px #020203;
    font-weight: 600;
}

.what {
    font-family: Georgia, serif;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 1.5px #020203;
    font-weight: 400;
    font-variant: small-caps;
}

.how {
    font-size: 2em;
    text-shadow: 2px 2px 1.5px #020203;
    list-style-type: none;
    padding-top: 1em;
}

/*.who .what .how .established {
    opacity: .3;
}*/

.established {
    font-family: Georgia, serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 1.5px #020203;
    padding-top: 1em;
}

.who .what .how .established:hover {
    opacity: .5;
}

/* From here down to "end of hamburger icon" is for small screen menu stuff.-- Style the navigation menu


@media only screen and (max-width: 600px) {

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}*/

/* Hide the links inside the navigation menu (except for logo/home)
.topnav #myLinks {
  display: none;
}*/

/* Style navigation menu links
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}*/

/* Style the hamburger menu 
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}*/

/* Add a grey background color on mouse-over 
.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/

/* Style the active link (or home/logo) 
.active {
  background-color: #4CAF50;
  color: white;
}*/
/*"end of hamburger icon"*/

/* Fixed/sticky icon social media bar (vertically aligned 60% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 55%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 1.0s ease;
    color: lightgray;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: transparent;
    color: black;
}

.facebook {
    background: #3B5998;
    color: white;
}

.facebook a:hover {
    color: #3B5998;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.twitter a:hover {
    color: #55ACEE;
}

.google {
    background: #dd4b39;
    color: white;
}

.google a:hover {
    color: #dd4b39;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.linkedin a:hover {
    color: #007bb5;
}

.youtube {
    background: #bb0000;
    color: white;
}

.youtube a:hover {
    color: #bb0000;
}

.veritas {
    background-color: transparent;
    color: transparent;
}

/*.hat {
    color: transparent;
}*/

.veritas a:hover {
    background-color: transparent;
    color: black;
}

.veritas a {
    font-size: 10px;
    padding-left: 5px;
}


/* Style the links on the main photo */
.where {
    color: #bb0000;
}

.how a:hover {
    color: yellow;
    font-weight: bold;
    transition: all 1.0s ease;

}

/* Contact Page Styles */

.my_info,
.your_info {
    background-image: url(./photo_gallery/EE25B659-5901-48C3-8B5F-527119AC2848_1_105_c.jpeg);
    padding-left: 12em;
    padding-bottom: 12em;
    padding-top: 10em;
    padding-bottom: 10em;
    color: blue;
}

/*.my_email,
.my_cell {
    transition: all 0.7s ease;
}*/

/* Sticky Nav Bar Styles */

.content {
    padding: 16px;
}

/* Not used. Was going to be for sticky nav bar, but switched to top nav.
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} */

/* Bootstrap Nav Bar Fixed Padding */

body {
    padding-top: 70px
}

. search_bar {
    float: right;

}

/* Home Page buttons below photo */

.pay_button {
    margin: 1em;
    background-color: #3B5998;
}

.pay_button a:hover {
    color: black;
    transition: all 0.5s ease;
}

.store_button {
    margin: 1em;
    background-color: #bb0000;
}

.store_button a:hover {
    color: black;
    transition: all 0.5s ease;
}

/* footer */

#type_writer_phrase {
    text-align: center;
}

.bottom {
    text-align: center;
    padding-top: 1em;
    /*position: fixed;*/
}

/*top nav for responsive format on mobile
.topnav {
  overflow: hidden;
  background-color: #333;
}*/

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #bb0000;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}


@media only screen and (max-width: 600px) {    
    .hello {
        background-size: 100%;
        background-image: url(photo_gallery/BDE85E1A-9E80-4126-BDE6-C5613A2E0F75_4_5005_c.jpeg);
        background-attachment: fixed;
        padding-bottom: 5em;
    }
    .who{
        font-size: 5em;
    }
    .what{
        font-size: 3em;
    }
    .navbar{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

/*@media only screen and (min-width: 600px) {
    .medium_screen {
        display: none;
}*/
    
@media only screen and (max-width: 900px) {
    .medium_screen {
        display: none;
}   


@media only screen and (max-width: 1200px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: left;
        /*Just changed this!*/
        display: block;
        text-align: left;
    }

    .big_screen {
        display: none;
    }
}
