.hello {
    background-image: url(../photo_gallery/BDE85E1A-9E80-4126-BDE6-C5613A2E0F75_1_105_c.jpeg);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
