 
/* Add a black background color to the top navigation */
        .navbar {
            background-color: black;
            /*overflow: hidden;*/
        }

.my_info, .your_info {
    background-image: url(../photo_gallery/EE25B659-5901-48C3-8B5F-527119AC2848_1_105_c.jpeg);
    padding-left: 12em;
    padding-bottom: 12em;
    padding-top: 3em;
    padding-bottom: 10em;
    color: #337ab7;
} 

.my_name {
    font-size: 4em;
    text-shadow: 2px 2px 1.5px #020203;
}

.my_address {
    font-size: 2em;
    text-shadow: 1px 1px .75px #020203;
}

.my_note {
    font-size: 2em;
    text-shadow: 1px 1px .75px #020203;
}

.my_email {
    font-size: 2em;
    text-shadow: 1px 1px .75px #020203;
    color: blue;
}

.my_email a:hover {
    color: yellow;
    transition: all 1.0s ease;
}

.my_cell {
    font-size: 2em;
    text-shadow: 1px 1px .75px #020203;
}

.my_cell a:hover {
    color: yellow;
    transition: all 1.0s ease;
}

.your_info {
    text-shadow: 1px 1px .75px #020203;
}

/* footer */

.bottom {
    text-align: center;
    /*padding-top: 1em;*/
    /*position: fixed;*/
}

p {
    margin-bottom: 0px;
}

.your_info_header {
    font-size: 4em;
}

/* Styles for the FormSpee App */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 2em;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

.submit {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
}

input[type="submit"].submit:hover {
    background-color: crimson;
    font-size: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: 900;
    border: 5px solid black;
    border-radius: 10px;
    transition: all 1.0s ease;

@media only screen and (max-width: 600px) {    
     .my_info, .your_info {
        padding-left: 1em;
    }
}


