.p {
    padding-left: 4em;
}
.container {
    background-image: url(../photo_gallery/EE25B659-5901-48C3-8B5F-527119AC2848_1_105_c.jpeg);
    padding-left: 12em;
    padding-bottom: 12em;
    padding-top: 10em;
    padding-bottom: 10em;
    color: blue;
}