html,body,#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#map-canvas { width: 100%; height: 630px;}

.map_top {
    text-align: center;
    color: crimson;
    text-shadow: 1px 1px 1px #020203;
    font-size: 3em;
}

.map_note {
    text-align: center;
}
